body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 50;
}

nav ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px;
}

nav ul li{
    margin: 0;
    display: inline;
    text-align: center;
    padding: 5px 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.4s;
    font-size: 1.1rem;
}

nav ul li a:hover{
    color: #ff6600;
    font-weight: bold;
}

h2{
    color: #ff6600;
    margin: 0;
    padding-top: 60px;
    text-align: center;
}

#seccion1 h2{
    padding-top: 60px;
}

/*Agrega una animación de deplazamiento suave*/
/*La propiedad scroll-behavior se utiliza para controlar 
el comportamiento del desplazamiento (scroll) en una página
web. En este caso, se establece en smooth, lo que significa 
que el desplazamiento se realizará de manera suave en lugar 
de un desplazamiento brusco*/

html{
    scroll-behavior: smooth; /*No tiene otros valores importantes*/
}